.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.section-follow .fa-3x{
    margin: 5px 10px;
}
#logn{
    background-image: url(Images/paxel1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: .5em;
    padding-bottom: 2em;
}
#lognr{
    width: 55%;
}